In [21]:
# importation des librairies
import pandas as pd
import datetime

In [22]:
# importation des donn√©es
df  = pd.read_csv("voitures.csv",sep=';')
df_voitures = df.copy()
df_voitures.head()

,matricule,marque,date_ciruclation,kilometrage,cylindre,couleur,vitesse
0,123,BMW,12/12/2020,50000,8,noir,280
1,124,AUDI,01/02/2023,10000,8,noir,280
2,125,VW,03/02/2022,75000,6,rouge,240
3,126,MERCEDES,20/05/2021,100000,8,blanc,280
4,127,VW,31/12/2019,30000,6,jaune,260

In [23]:
# suppression de colonne matricule
df_voitures = df_voitures.drop(columns=['matricule'], axis=1)
df_voitures.head()

     marque date_ciruclation  kilometrage  cylindre couleur  vitesse
0       BMW       12/12/2020        50000         8    noir      280
1      AUDI       01/02/2023        10000         8    noir      280
2        VW       03/02/2022        75000         6   rouge      240
3  MERCEDES       20/05/2021       100000         8   blanc      280
4        VW       31/12/2019        30000         6   jaune      260

In [24]:
# transformation de la colonne date_circulation en age
df_voitures['date_ciruclation'] = pd.to_datetime(df_voitures['date_ciruclation'])
df_voitures
df_voitures['age'] = datetime.datetime.now().year - df_voitures['date_ciruclation'].dt.year
df_voitures

C:\Users\Bennour\AppData\Local\Temp\ipykernel_12296\1464946359.py:2: UserWarning: Parsing '20/05/2021' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_voitures['date_ciruclation'] = pd.to_datetime(df_voitures['date_ciruclation'])
C:\Users\Bennour\AppData\Local\Temp\ipykernel_12296\1464946359.py:2: UserWarning: Parsing '31/12/2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_voitures['date_ciruclation'] = pd.to_datetime(df_voitures['date_ciruclation'])
C:\Users\Bennour\AppData\Local\Temp\ipykernel_12296\1464946359.py:2: UserWarning: Parsing '14/02/2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_voitures['date_ciruclation'] = pd.to_datetime(df_voitures['date_ciruclation'])
C:\Users\Bennour\AppData\Local\Temp\ipykernel_12296\1464946359.py:2: UserWarning: Parsing '18/05/2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_voitures['date_ciruclation'] = pd.to_datetime(df_voitures['date_ciruclation'])
C:\Users\Bennour\AppData\Local\Temp\ipykernel_12296\1464946359.py:2: UserWarning: Parsing '19/04/2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_voitures['date_ciruclation'] = pd.to_datetime(df_voitures['date_ciruclation'])
C:\Users\Bennour\AppData\Local\Temp\ipykernel_12296\1464946359.py:2: UserWarning: Parsing '19/01/2021' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_voitures['date_ciruclation'] = pd.to_datetime(df_voitures['date_ciruclation'])
C:\Users\Bennour\AppData\Local\Temp\ipykernel_12296\1464946359.py:2: UserWarning: Parsing '22/12/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_voitures['date_ciruclation'] = pd.to_datetime(df_voitures['date_ciruclation'])
C:\Users\Bennour\AppData\Local\Temp\ipykernel_12296\1464946359.py:2: UserWarning: Parsing '14/07/2021' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_voitures['date_ciruclation'] = pd.to_datetime(df_voitures['date_ciruclation'])

      marque date_ciruclation  kilometrage  cylindre couleur  vitesse  age
0        BMW       2020-12-12        50000         8    noir      280    3
1       AUDI       2023-01-02        10000         8    noir      280    0
2         VW       2022-03-02        75000         6   rouge      240    1
3   MERCEDES       2021-05-20       100000         8   blanc      280    2
4         VW       2019-12-31        30000         6   jaune      260    4
5    PEUGEOT       2020-02-14        90000         4    gris      240    3
6       AUDI       2021-01-03        60000         6   rouge      260    2
7    FERRARI       2016-06-06       200000        12   rouge      320    7
8    PEUGEOT       2017-05-18       510000         3    gris      220    6
9         VW       2020-04-19       230000         4   blanc      220    3
10       BMW       2021-01-19        12300         8    bleu      280    2
11   BUGATTI       2022-12-22        13600        12    bleu      320    1
12  MERCEDES       2021-07-14       190000         8    noir      280    2

In [25]:
# suppression de la colonne date_circulation
df_voitures = df_voitures.drop(columns=['date_ciruclation'], axis=1)
df_voitures

      marque  kilometrage  cylindre couleur  vitesse  age
0        BMW        50000         8    noir      280    3
1       AUDI        10000         8    noir      280    0
2         VW        75000         6   rouge      240    1
3   MERCEDES       100000         8   blanc      280    2
4         VW        30000         6   jaune      260    4
5    PEUGEOT        90000         4    gris      240    3
6       AUDI        60000         6   rouge      260    2
7    FERRARI       200000        12   rouge      320    7
8    PEUGEOT       510000         3    gris      220    6
9         VW       230000         4   blanc      220    3
10       BMW        12300         8    bleu      280    2
11   BUGATTI        13600        12    bleu      320    1
12  MERCEDES       190000         8    noir      280    2